---
data-dir: {{ node_home_dir }}
db-dir: {{ node_data_dir }}
log-dir: {{ node_log_dir }}
chain-config-dir: {{ node_chain_config_dir }}
chain-data-dir: {{ node_chain_data_dir }}
plugin-dir: {{ node_plugins_dir }}
staking-signer-key-file: {{ node_signer_key_path }}
staking-tls-cert-file: {{ node_staker_crt_path }}
staking-tls-key-file: {{ node_staker_key_path }}
public-ip: {{ ansible_default_ipv4.address }} 
http-allowed-origins: {{ monitor_server_dns }}
staking-port: {{ avalanche.validator.ports.staking_port }}
http-port: {{ avalanche.validator.ports.http_port }}
